---
layout: default
---
{% assign post = site.posts.first %}
{% assign content = post.content %}
{% include featured_post.html %}


<section class="post-list">
    
    <h3>More from webdioxide</h3>
    
    {% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-preview" 
    style="background-image:url('images/{{post.image}}');">
        <section class="post-info" >
          <h4 class="post-title" style="color:{{post.color}}">{{post.title}}</h4>
          <div class="post-author">
            <p style="color:{{post.color}}">{{ post.author }}</p>
          </div>
        </section>
    </a>
    {% endfor %}
    
</section>

