<header class="wo2-header">
    <a class="wo2-logo" href="{{ site.baseurl }}/">
      {% include logo.html %}
    </a>
</header>
<div class="wo2-cover" {% if post.image %} style="background-image:url(/images/{{post.image}});"{% endif %}>
      
      <h2 class="wo2-cover-title" > 
        <a href="{{ post.url | prepend: site.baseurl }}" style="color:{{post.color}} ">{{ post.title }} </a>
      </h2>
      <p class="wo2-cover-tagline" style="color:{{post.color}}"> 
        {{post.tagline}} 
      </p>
      
      <div class="cover-btns">
        <a class="secondary-btn secondary-btn-{{post.colorType}}" href="{{ post.url | prepend: site.baseurl }}">More Posts <strong>↓</strong></a>
        <a class="primary-btn" href="{{ post.url | prepend: site.baseurl }}">Read Post </a>
      </div>
      

      
</div>
