
  <div class="subscription-form">
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//ishwerdas.us12.list-manage.com/subscribe/post?u=8fe535baf9aa31d75654e5bd5&amp;id=37583f7d93" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	

    <p class="special-text">  Hi, this is <strong> Webdioxide.com </strong> </p>
    <p>  Get great content straight in your inbox, subscribe us. </p>
	<input type="email" placeholder="Your Email" name="EMAIL" class="required email" id="mce-EMAIL">
	<span id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</span>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8fe535baf9aa31d75654e5bd5_37583f7d93" tabindex="-1" value=""></div>
    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</div>
</form>
</div>

</div>
