*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
}

body{
    font-family:$accent-font;
    font-size:$font-size;
    line-height:1.5;
    color:$lightBlack;
}

a,h1,h2,h3,h4,h5,h6{
    color:$black;
}
 
h1,h2,h3,h4,h5,h6 {
    font-family:$focal-font;
    a{
        text-decoration:none;
    }
}

p {
    margin-bottom:1rem;
}

img {
    max-width:100%;
}

article {
    font-size:21px;
    line-height:1.4;
    
    
    h1{
        font-size:40px;
    }
    
    h2,h3,h4 {
        font-size:32px;
        &+p{
            margin-top:8px;
        }
    }
    
    h1,h2,h3,h4,h5,h6{
        line-height:1.25;
    }
    h1+* {
        margin-top:44px;
    }
    p,h2,h3,h4,ul,ol,img,code,pre,div {
        margin-top:38px;
    }
    
    ul,ol,dl{
        margin-left:21px;
    }
    
    pre {
        background:#333;
        border-radius:5px;
        padding:21px;
        code {
        background:#333;
        color:lightyellow;
        }
    }
    
    code {
        font-size:14px;
        background:lightyellow;
        color:$text-color;
        border-radius:5px;
        padding:5px;
    }
}