/**
*  the big post at front page
*/
.logo-container {
  overflow:hidden;
  svg {
    fill: $blackish;
    width:100%;
  }

  svg.logo {
    display:block;
  }

  svg.logo-hover {
    display:none;
  }

  &:hover {
    svg.logo { display:none; }
    svg.logo-hover { display:block; }
  }
}

.site-header .logo {
  max-width:5rem;
}

.featured-post {
  @extend .flex-container;
  background-color: $dead-white;
  color: $blackish;

  width:100%;
  margin:auto;
  box-shadow: 2px 2px 3px  rgba($blackish,0.3);
  transition: 0.5s background ease;
  &:hover {
    background: rgba($orange, 0.05);
  }
  @include media (">tablet"){
    height:65%;
    min-height:15rem;
    max-height: 40rem;
  }
}

.featured-post-image {
  @extend .cover-background;
  height:10rem;
  width:100%;
  @include media(">tablet"){
    width:50%;
    height:100%;
  }

}

.featured-post-content {
  padding:4rem 1rem;
  text-align:center;
  width:100%;
  transition: 0.5s all ease;
  h2 {
    a{
      font-weight: 900;
      color: $blackish;
      border-bottom:0px;
    }
  }
  .featured-post-info {
    color: $blue;
    font-size: 0.8rem;
  }
  .hover-extra {
    display:none;
  }
  @include media(">tablet"){
    width:50%;
  }
}

a.read-more {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;

}

.subscription-form {
  padding:1rem;
  width:100%;
  font-weight:300;
  background: rgba($blue,0.1);
  text-align:center;
  color: $blackish;
  input,button,textarea {
    border:0px;
    background: $dead-white;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
    margin:0;
    display:inline-block;
    font-size: 1rem;
    line-height: 1.5;
  }
  p {
    input, textarea, button {
      width:100%;
      max-width:20rem;
    }
  }
  textarea {
    min-height:10rem;
    font-family: 'Playfair Display', serif;
    color: #555;
  }
  button {
    background: $blue;
    color: $dead-white;
    margin-left:0;
    &:hover {
      background: darken($blue,5%);
    }
  }
  .logo-container {
    position:absolute;
    bottom:1rem;
    right:0;
    display:inline;
    float:left;
    .logo, .logo-hover {
      width:5rem;
      height:5rem;
    }
  }
}

/*********************************
POST LIST TODO: CREATE SEPARATE file
**********************************/


.post-list {
  padding:1rem;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:space-around;
}


.post-item {
  margin-top:1rem;
  border-bottom: 1px solid rgba($blackish,0.1);
}

.post-item-content {
  color: #666;
  h3 {
    font-weight: bold;
    font-style: normal;
    font-size:2rem;
    a {
      display:block;
    }
  }
  a {
    transition: all 0.5s ease;
    color: #444;
    border-bottom: 0px;
    &:hover {
      color: $orange;
    }
  }
}

.post-item-image {
  @extend .cover-background;
  width:100%;
  height:10rem;
}

.site-footer {
  display:none;
  background-color: $blackish;
  color: #fafafa;
  a { color: #fafafa;}
}

.featured-post-tagline {
  font-family: 'Playfair Display', serif;
  color: #444;
  width: 80%;
  margin:auto;
  max-width: 20rem;
}
