.logo-container{
    width:70px;
    height:70px;
    background:rgba(white,0.9);
    border-radius:200px;
    margin:5px;
}

.logo-hover{
    
}

.wo2-header{
    position:fixed;
    top:0;
    left:0;
}